.favoriteScreen {
  position: relative;
  height: 100%;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  background-size: cover;
}
.favoriteScreen_body {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  bottom: 0;
  margin: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  overflow-x: hidden;
}
.favoriteScreen_body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.favoriteScreen_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
