.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;

    /* Animations */
    
    transition-timing-function: ease-in !important;
    transition: all 0.5s !important;
}

.nav_content {
    display: flex;
    justify-content: space-between;
}

.nav_black {
    background-color: #111;
}

.nav_logo {
    position: fixed;
    left: 0;
    top: 10px;
    width: 80px;
    cursor: pointer;
}

.nav_avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav_favorite {
    position: fixed;
    right: 65px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}