.SignInScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.SignInScreen > form {
  display: grid;
  flex-direction: column;
}
.SignInScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.SignInScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  cursor: pointer;
  font-weight: 600;
  border: none;
  margin-top: 10px;
  /* margin-top: 20px; */
  /* margin-bottom: 15px; */
}
.SignInScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}
.SignInScreen > form > h4 {
  text-align: left;
}
.SignInScreen_gray {
  color: gray;
  margin-right: 5px;
}
.SignInScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
